.App {
  text-align: center;
}

.content{
  display: flex;
  margin: auto;
  width: 50%;
  flex-direction: column;
  align-content: center;
}

.navigationTop{
  display: flex;
  padding: 1em;
  margin: auto;
  flex-direction: row;
  align-content: center;
  width: 40%;
}
.active{
  color: red;
}

.mycustomactive{
  color: brown;
}

.navItem{
  padding: 1em;
  margin: 1em;
}